[profile.default]
solc = "0.8.28"
evm_version = "cancun"
src = "src"
out = "out"
script = "script"
libs = ["node_modules"]
fs_permissions = [{ access = "read", path = "out-optimized" }, { access = "read-write", path = "deployments" }, { access = "read-write", path = "gas_calculations" }, { access = "read-write", path = "test/OneAuth/fixtures" }]
allow_paths = ["*", "/"]

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 100
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true

[fuzz]
runs=1000

[invariant]
runs = 256
depth = 128
fail_on_revert = false

[rpc_endpoints]
mainnet = "https://mainnet.gateway.tenderly.co"